services:
  db:
    image: postgres:16
    container_name: products-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: x34115624A*
      POSTGRES_DB: contentful
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: products-api
    restart: always
    depends_on:
      - db
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      DATABASE_HOST: db
    command: ["./entrypoint.sh"]

volumes:
  db_data:
